/* #region Variables */
:root {
  --main-color-blue: #2196f3;
  --main-color-blue-rgb: 33, 150, 243;
  --main-color-blue-o90: rgba(33, 150, 243, 0.9);
  --main-color-darkgrey-rgb: 33, 33, 33;
  --main-color-lightgrey: 117, 117, 117;
  --button-bg: #f5f4fa;
  --white-color-rgb: 255, 255, 255;
  --black-color: #000000;
  --black-color-rgb: 0, 0, 0;
  --bg-dark: 47, 48, 58;
  --bg-light: #f5f4fa;
  --border-color-light: #ececec;
  --customer-color: #afb1b8;

  --transition-type: cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region Common styles */
body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

.container {
  --gaps: 15px;
  width: calc(1170px + var(--gaps) * 2);
  padding-left: var(--gaps);
  padding-right: var(--gaps);
  margin: 0 auto;
}
/* #endregion */

/* #region HEADER */

.header {
  /* max-width: 1600px; */
  background-color: rgb(var(--white-color-rgb));
  border-bottom: 1px solid var(--border-color-light);
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav-main {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-color);
  text-decoration: none;
}

.logo span {
  color: var(--main-color-blue);
}

.nav {
  display: flex;
  list-style: none;
}

.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.169;
  color: var(--main-color-darkgrey);
  text-decoration: none;

  transition: color 250ms var(--transition-type);
}

.nav-link.active {
  position: relative;
  color: var(--main-color-blue);
}

.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--main-color-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-color-blue);
}

/* contacts */

.contacts {
  display: flex;
  list-style: none;
}

.contacts-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: rgb(var(--main-color-lightgrey));
  fill: currentColor;

  transition: color 250ms var(--transition-type);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-color-blue);
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts-link .icon {
  margin-right: 10px;
  vertical-align: middle;
}

/* #endregion */

/* #region HERO */
.hero {
  max-width: 1600px;
  padding: 200px 0px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  background-color: rgb(var(--bg-dark));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
      rgba(var(--bg-dark), 0.4),
      rgba(var(--bg-dark), 0.4)
    ),
    url("../images/hero.jpg");
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.37;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: rgb(var(--white-color-rgb));
}
.hero-button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: rgb(var(--white-color-rgb));
  background-color: var(--main-color-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 15%);
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}

/* #endregion */

/* #region ADVANTAGES */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}

.advantages-item {
  flex-basis: calc((100% - 30px) / 4);
  margin-left: 30px;
}

.advantages-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--button-bg);
}
/* .advantages-item:before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--button-bg);
} */

.advantages-title {
  font-size: 14px;
  color: var(--main-color-darkgrey);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
}
.advantages-text {
  line-height: 1.8;
  color: rgb(var(--main-color-lightgrey));
}
/* #endregion */

/* #region WHAT WE DO */
.wedo {
  padding-bottom: 94px;
}

.wedo-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--main-color-darkgrey);
  margin-bottom: 50px;
}

.wedo-list {
  display: flex;
  list-style: none;
}

.wedo-item {
  position: relative;
}

.wedo-item + .wedo-item {
  margin-left: 30px;
}

.wedo-img {
  display: block;
  max-width: 100%;
}

.wedo-subtitle {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  color: rgb(var(--white-color-rgb));
  background-color: rgba(var(--bg-dark), 0.8);
}
/* #endregion */

/* #region OUR COMMAND */
.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-light);
}

.command-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--main-color-darkgrey);
  margin-bottom: 50px;
}

.command-list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}
.command-item {
  margin-left: 30px;
  padding-bottom: 30px;
  background-color: rgb(var(--white-color-rgb));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--main-color-darkgrey);
  padding-top: 1px;
  margin-bottom: 10px;
}
.command-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  padding: 30px 24px 0;
  margin-bottom: 16px;
}
.command-img {
  display: block;
  max-width: 100%;
}
.command-text {
  font-size: 16px;
  line-height: 1.19;
  color: rgb(var(--main-color-lightgrey));
}

.command-icons {
  display: flex;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;

  /* outline: 1px solid #000000; */
}
.command-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--customer-color);
  fill: currentColor;

  transition: color 250ms var(--transition-type),
    background-color 250ms var(--transition-type);
}

.social + .social {
  margin-left: 10px;
}

.command-link:hover,
.command-link:focus {
  background-color: var(--main-color-blue);
  color: rgb(var(--white-color-rgb));
}

/* #endregion */

/* #region Regular Customers */

.customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--main-color-darkgrey);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  list-style: none;
}

.client-item {
  flex-basis: calc(100% / 6);
  height: 90px;
}
.client-item + .client-item {
  margin-left: 30px;
}

.client-link {
  display: flex;
  height: inherit;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--customer-color);
  fill: currentColor;

  transition: color 250ms var(--transition-type);
}

.client-link:hover,
.client-link:focus {
  color: var(--main-color-blue);
}

/* #endregion */

/* #region FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(var(--bg-dark));
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.logo.white {
  color: rgb(var(--white-color-rgb));
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

.footer-enjoy {
  margin-left: 70px;
  /* padding-top: 12px; */
}

.address-list {
  list-style: none;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  color: rgb(var(--white-color-rgb));

  transition: color 250ms var(--transition-type);
}

.opacity06 {
  opacity: 0.6;
}

.address-link.opacity06:hover,
.address-link.opacity06:focus {
  color: var(--main-color-blue);
}
.footer .title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  color: rgb(var(--white-color-rgb));
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(var(--white-color-rgb), 0.1);
  color: rgb(var(--white-color-rgb));
  fill: currentColor;

  transition: background-color 250ms var(--transition-type);
}

.social-icon + .social-icon {
  margin-left: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--main-color-blue);
}

.footer-subscribe {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
}
.subscribe-form .email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(var(--white-color-rgb), 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(var(--black-color-rgb), 0.15);
  padding: 15px 16px;
  background-color: rgba(var(--main-color-blue-rgb), 0);
  margin-right: 12px;
  color: rgb(var(--white-color-rgb));
  font-size: 16px;
}

.subscribe-form .email::placeholder {
  line-height: 1.25;
  color: rgba(var(--white-color-rgb), 0.6);
}

.subscribe-form .submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(var(--white-color-rgb));
  background-color: var(--main-color-blue);
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(var(--black-color-rgb), 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  fill: currentColor;
  cursor: pointer;
}
.subscribe-form .submit-btn .icon {
  margin-left: 10px;
}

/* #endregion */

/* #region PORTFOLIO FILTER */
.filter-list {
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

.filter-item {
  display: inline-block;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--main-color-darkgrey);
  background-color: var(--bg-light);
  border: none;
  border-radius: 4px;

  transition: color 250ms var(--transition-type),
    background-color 250ms var(--transition-type),
    box-shadow 250ms var(--transition-type);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn.active {
  color: rgb(var(--white-color-rgb));
  background-color: var(--main-color-blue);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* #endregion */

/* #region PORTFOLIO */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  /* 
  в майбутньому тут можна використовувати
  row-gap: 30px;
  column-gap: 30px;
  замість "костилів" з від'ємними маржинами
  */
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms var(--transition-type);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* outline: 1px solid rgb(var(--main-color-blue-rgb)); */
  /* cursor: pointer; */
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-description {
  display: block;
  text-decoration: none;
  padding: 20px 24px;
  background-color: var(--white-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  outline: none;
}
.portfolio-img {
  display: block;
  max-width: 100%;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;

  font-size: 18px;
  line-height: 1.55;
  color: rgb(var(--white-color-rgb));
  background-color: var(--main-color-blue-o90);
  opacity: 0;
  transform: translateY(100%);

  transition: transform 250ms var(--transition-type);
}

.portfolio-subtitle {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  color: rgb(var(--main-color-darkgrey-rgb));
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  color: rgb(var(--main-color-lightgrey));
  line-height: 1.87;
}
/* #endregion */

/* #region Modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity 250ms var(--transition-type);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1, 0);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;

  padding: 40px;
  background-color: rgb(var(--white-color-rgb));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform 250ms var(--transition-type) 250ms;
}

.modal-close-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(var(--bg-dark));
  background-color: rgb(var(--white-color-rgb));
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: currentColor;

  transition: color 250ms, color 250ms 100ms;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  /* background-color: var(--main-color-blue); */
  color: var(--main-color-blue);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form .label {
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 4px;
  color: rgb(var(--main-color-lightgrey));
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form .input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(var(--main-color-darkgrey-rgb), 0.2);
  transition: border-color 250ms var(--transition-type);
}
.modal-form .input-wrapper .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  color: rgb(var(--main-color-darkgrey-rgb));
  fill: currentColor;

  transition: color 250ms var(--transition-type);
}

.modal-form .input:hover + .icon,
.modal-form .input:focus + .icon {
  color: rgb(var(--main-color-blue-rgb));
}

.modal-form .input:hover,
.modal-form .input:focus {
  border: 1px solid rgb(var(--main-color-blue-rgb));

  outline: rgb(var(--main-color-blue-rgb));
}

.modal-form .comment {
  border: 1px solid rgba(var(--main-color-darkgrey-rgb), 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  padding: 12px 16px;

  transition: border 250ms var(--transition-type);
  margin-bottom: 20px;
}
.modal-form .comment:hover,
.modal-form .comment:focus {
  border: 1px solid rgb(var(--main-color-blue-rgb));
  outline: rgb(var(--main-color-blue-rgb));
}

.modal-form .comment::placeholder {
  color: rgba(var(--main-color-lightgrey), 0.5);
}
.terms-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.terms-check {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.terms-check:hover + .icon-wrapper,
.terms-check:focus + .icon-wrapper {
  color: rgb(var(--main-color-blue-rgb));
}

.terms-label .icon-wrapper {
  margin-right: 7px;
  position: relative;
  width: 16px;
  height: 15px;
  box-sizing: content-box;
  fill: currentColor;
  color: #212121;

  transition: color 250ms var(--transition-type);
}

.icon-wrapper .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: opacity 250ms var(--transition-type);
}

.terms-check:checked + .icon-wrapper .icon.unchecked,
.terms-check:not(:checked) + .icon-wrapper .icon.checked {
  opacity: 0;
  pointer-events: none;
}

.terms-txt {
  color: rgb(var(--main-color-lightgrey));
  line-height: 1.53;

  user-select: none;
}

.underline {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

.terms-link {
  text-decoration: none;
  color: rgb(var(--main-color-blue-rgb));
}

.submit-btn {
  border: none;
  padding: 10px 55px;
  background-color: rgb(var(--main-color-blue-rgb));
  color: rgb(var(--white-color-rgb));
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  align-self: center;
  line-height: 1.875;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--transition-type);
}

.submit-btn:hover,
.submit-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}
/* #endregion */
