.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: $main-color-darkgrey;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  list-style: none;
}

.clients__item {
  flex-basis: calc(100% / 6);
  height: 90px;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  height: inherit;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: $customer-color;
  fill: currentColor;

  transition: color 250ms $transition-type;

  &:is(:hover, :focus) {
    color: $main-color-blue;
  }
}
