.hero {
  max-width: 1600px;
  padding: 200px 0px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  background-color: $bg-dark;

  background: linear-gradient(rgba($bg-dark, 0.4), rgba($bg-dark, 0.4)),
    url("../images/hero.jpg") no-repeat center / cover;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.37;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $white-color;
}

.hero__button {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: $white-color;
  background-color: $main-color-blue;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba($black-color, 15%);

  &:is(:hover, :focus) {
    cursor: pointer;
  }
}
