.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $black-color;
  text-decoration: none;
}

.logo__web {
  color: $main-color-blue;
}

.logo--white {
  color: $white-color;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
