$main-color-blue: #2196f3;
$main-color-blue-o90: rgba(131, 151, 168, 0.9);
$main-color-darkgrey: #212121;
$main-color-lightgrey: #757575;
$button-bg: #f5f4fa;
$white-color: #fff;
$black-color: #000000;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-color-light: #ececec;
$customer-color: #afb1b8;

$transition-type: cubic-bezier(0.4, 0, 0.2, 1);
